<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="/plantree/static/base.css"/>
    <style type="text/css">

      .submitLink {
        color: #00f;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

    </style>
    <title>Lifeplanner</title>
  </head>
  <body>
    <p>
    <a href="{{ base_url }}{{ parent.id }}">Up</a> <a href="{{ base_url }}">Root</a>
    </p>
    <h1>{{ current.task }}</h1>

    <form action="{{ base_url }}{{ current.id }}/add/" method="post">
      {% csrf_token %}
      <p>New subtask: <input type="text" name="task" /></p>
    </form>

    <form action="{{ base_url }}{{ current.id }}/filter/" id="filter" method="post">
      {% csrf_token %}
      <p><label>Filter:</label>
      <select name="filter_name">
        <option value=""
        {% if request.session.filter_name = "" %}selected="selected"{% endif %}
        >
        All
        </option>
        <option value="finished"
        {% if request.session.filter_name = "finished" %}selected="selected"{% endif %}
        >
        Finished
        </option>
        <option value="unfinished"
        {% if request.session.filter_name = "unfinished" %}selected="selected"{% endif %}
        >
        Unfinished
        </option>
      </select>
      <input type="submit" class="submit" value="filter" /></p>
    </form>

    {% block treeview %}treeview goes here{% endblock %}

  </body>
</html>
