{% extends "index.html" %}
{% block treeview %}
  <table class="servicesT" cellspacing=1>
    <tr>
      <th>Task</th>
      <th>Remove</th>
      <th>Finish</th>
      <th>Status</th>
      <th>Subtasks</th>
      <th>Descendants</th>
      <th>Data Created/Finished</th>
    </tr>

  {% for item in child_list %}
  <tr>
    <td class="servBodL">
      <p>
      <a href="{{ base_url }}{{ item.id }}">{{ item.task }}</a>
      </p>
    </td>
    <td class="servBodL">
      <form action="{{ base_url }}{{ item.id }}/delete/" method="post">
        {% csrf_token %}
        <p><input type="submit" class="submitLink" value="-" /></p>
      </form>
    </td>
    <td class="servBodL">
      <p>
      {% if item.is_leaf %}
        {% if not item.finished %}
          <form action="{{ base_url }}{{ item.id }}/finish/" method="post">
        {% csrf_token %}
            <p><input type="submit" class="submitLink" value="Finish" /></p>
          </form>
        {% else %}
          <form action="{{ base_url }}{{ item.id }}/unfinish/" method="post">
        {% csrf_token %}
            <p><input type="submit" class="submitLink" value="Unfinish" /></p>
          </form>
        `{% endif %}
      {% endif %}
      </p>
    </td>
    <td class="servBodL">
      <p>
      {% if not item.finished %}
        Unfinished
      {% else %}
        Finished
      {% endif %}
      </p>
    </td>
    <td class="servBodL">
      {% if item.get_children_count != 0 %}
      <p>
      {{ item.get_children_count }}
      </p>
      {% endif %}
    </td>
    <td class="servBodL">
      {% if item.get_descendant_count != 0 %}
      <p>
      {{ item.get_descendant_count }}
      </p>
      {% endif %}
    </td>
    <td class="servBodL">
      <p>
      {% if item.finished %}
      {{ item.finished_time }}
      {% else %}
      {{ item.creation_time }}
      {% endif %}
      </p>
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
